.toolbar-style {
    color:red;
    background-color: blue;
    width: 100%;
    top: 50px;
    height: 100px;
    text-align: center;
    position: relative;
    box-shadow: inset;
    display: flex;
    justify-content: flex-end;
    justify-self: center;
    align-items: center;
}
.toolbar-style-button{
     width:100px;
     height: 50px;
     background-color: red;
     margin: 10px;
}
